<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-margin-top">
    <ion-row>
      <ion-col>
        Nama: 
      </ion-col>
      <ion-col>
        Vito Varian Laman
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        NRP: 
      </ion-col>
      <ion-col>
        C14180095
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Email: 
      </ion-col>
      <ion-col>
        c14180095@john.petra.ac.id
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        No HP: 
      </ion-col>
      <ion-col>
        081232528421
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
